In [1]:
# Import Libraries 
!pip install pymongo[srv]
import pymongo
import psycopg2

Requirement already satisfied: pymongo[srv] in c:\users\lsisl\anaconda3\envs\myenv\lib\site-packages (3.12.0)
Requirement already satisfied: dnspython<2.0.0,>=1.16.0 in c:\users\lsisl\anaconda3\envs\myenv\lib\site-packages (from pymongo[srv]) (1.16.0)

In [3]:
# Connect to your PostgreSQL database
dbname = 
user = 
password = 
host = 

# This code opens a connection
con = psycopg2.connect(dbname= dbname, user= user, password = password, host= host)
con

In [4]:
# Open a cursor 
p_cur = con.cursor()

In [3]:
PASSWORD = 
DBNAME = 

client = pymongo.MongoClient("mongodb+srv://playerone:@cluster0.1e53z.mongodb.net/Module3?retryWrites=true&w=majority")

In [4]:
client

MongoClient(host=['cluster0-shard-00-01.1e53z.mongodb.net:27017', 'cluster0-shard-00-00.1e53z.mongodb.net:27017', 'cluster0-shard-00-02.1e53z.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-1143b0-shard-0', ssl=True)

In [5]:
db = client.Module3

In [6]:
print(dir(db.Module3))

['_BaseObject__codec_options', '_BaseObject__read_concern', '_BaseObject__read_preference', '_BaseObject__write_concern', '_Collection__create', '_Collection__create_indexes', '_Collection__database', '_Collection__find_and_modify', '_Collection__full_name', '_Collection__name', '_Collection__write_response_codec_options', '__call__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__next__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_aggregate', '_aggregate_one_result', '_command', '_count', '_count_cmd', '_delete', '_delete_retryable', '_insert', '_insert_one', '_legacy_write', '_map_reduce', '_read_preference_for', '_socket_for_reads', '_socket_for_writes', '_update', '_update_retryable', '_write_concern_for', '_write_concern_for_cmd', 'aggregate', 'aggregate_raw_batches', 'bulk_write', 'codec_options', 'count', 'count_documents', 'create_index', 'create_indexes', 'database', 'delete_many', 'delete_one', 'distinct', 'drop', 'drop_index', 'drop_indexes', 'ensure_index', 'estimated_document_count', 'find', 'find_and_modify', 'find_one', 'find_one_and_delete', 'find_one_and_replace', 'find_one_and_update', 'find_raw_batches', 'full_name', 'group', 'index_information', 'initialize_ordered_bulk_op', 'initialize_unordered_bulk_op', 'inline_map_reduce', 'insert', 'insert_many', 'insert_one', 'list_indexes', 'map_reduce', 'name', 'next', 'options', 'parallel_scan', 'read_concern', 'read_preference', 'reindex', 'remove', 'rename', 'replace_one', 'save', 'update', 'update_many', 'update_one', 'watch', 'with_options', 'write_concern']

## First we are using the Mongo Database to query our rpg_db we created.

How many total Characters are there?
<br>
302 <br>

How many total Items?
<br>
898<br>

How many of the Items are Weapons? How many are not?
<br>
37 are weapons and 137 items are not weapons<br>

How many Items does each Character have? (Return first 20 rows)
<br>
SEE: items_per_character<br>

How many Weapons does each Character have? (Return first 20 rows)
<br>
_________
On average, how many Items does each Character have?
<br>
2.97<br>

On average, how many Weapons does each Character have?
<br>
__________

In [10]:
# How Many total characters are there?
characters = db.charactercreator_character.count()
print(characters)

302

C:\Users\lsisl\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere

In [12]:
# How many total items?
items = db.charactercreator_character_inventory.count()
print(items)

898

C:\Users\lsisl\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere

In [14]:
# How many of the items are weapons vs not?
weapons = db.armory_weapon.count()
not_weapons = db.armory_item.count() - weapons

print(weapons)
print(not_weapons)

37
137

C:\Users\lsisl\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere

C:\Users\lsisl\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  This is separate from the ipykernel package so we can avoid doing imports until

In [26]:
# How many items does each character have?
items_per_character = db.charactercreator_character_inventory.aggregate([
    {"$group": {"_id": "$id", "count": {"$sum": 1}}}
])

In [27]:
import pprint
pprint.pprint(list(items_per_character)[0:20])

[{'_id': 158, 'count': 1},
 {'_id': 192, 'count': 2},
 {'_id': 181, 'count': 5},
 {'_id': 203, 'count': 1},
 {'_id': 163, 'count': 3},
 {'_id': 179, 'count': 2},
 {'_id': 137, 'count': 3},
 {'_id': 254, 'count': 1},
 {'_id': 53, 'count': 5},
 {'_id': 260, 'count': 4},
 {'_id': 200, 'count': 1},
 {'_id': 145, 'count': 4},
 {'_id': 175, 'count': 3},
 {'_id': 285, 'count': 5},
 {'_id': 139, 'count': 5},
 {'_id': 284, 'count': 1},
 {'_id': 213, 'count': 2},
 {'_id': 206, 'count': 5},
 {'_id': 43, 'count': 1},
 {'_id': 236, 'count': 1}]

In [31]:
# How many weapons does each character have?
avg_items_per_character = db.charactercreator_character_inventory.aggregate([
    {"$group": {"_id": "$id", "count": {"$sum": 1}}},
    {'$group': {'_id': 'null', 'avg': {'$avg': '$count'}}}
])

pprint.pprint(list(avg_items_per_character)[0]['avg'])

2.9735099337748343

## Now we are going to look at the PostgreSQL table calling queries to answer the 
## questions from the readme.md document.

- How many passengers survived, and how many died? 
<br>
Survived: 342<br>
Died: 545<br>
<br>
- How many passengers were in each class?<br>
First Class: 216<br>
Second Class: 184<br>
Third Class: 487<br>
<br>
- How many passengers survived/died within each class?
<br>
First Class Survived: 136<br>
    First Class Died: 80<br>
<br>    
Second Class Survived: 87<br>
    Second Class Died: 97<br>
<br>    
Third Class Survived: 119<br>
    Third Class Died: 368<br>
<br>
- What was the average age of survivors vs nonsurvivors?
<br>
Avg Age of Survivors: 28.40<br>
Avg Age of Non-Survivors: 30.13<br>
<br>
- What was the average age of each passenger class?
<br>
Avg Age of First Class: 38.78<br>
Avg Age of Second Class: 29.86<br>
Avg Age of Third Class: 25.18<br>
<br>
- What was the average fare by passenger class? By survival?
<br>
Avg Fare of First Class: 84.15<br>
Avg Fare of Second Class: 20.66<br>
Avg Fare of Third Class: 13.70<br>
<br>
Avg Fare of Survived: 48.39<br>
Avg Fare of Dead: 22.20<br>
<br>
- How many siblings/spouses aboard on average, by passenger class? By survival?
<br>
Avg sib_spouse in First Class: 0.41<br>
Avg sib_spouse in Second Class: 0.40<br>
Avg sib_spouse in Third Class: 0.62<br>
<br>
Avg sib_spouse of Survived: 0.47<br>
Avg sib_spouse of Died: 0.55<br>
<br>
- How many parents/children aboard on average, by passenger class? By survival?
<br>
Avg parent_children in First Class: 0.39<br>
Avg parent_children in Second Class: 0.38<br>
Avg parent_children in Third Class: 0.35<br>
<br>
Avg parent_children of Survived: 0.46<br>
Avg parent_children of Died: 0.33<br>
<br>
- Do any passengers have the same name?
<br>
No.

## 1 How many passengers survived, and how many died?

In [5]:
# Total Survived
p_cur.execute("""SELECT count(survived) 
              FROM titanic 
              WHERE survived = 'true';""")
p_cur.fetchone()

(342,)

In [6]:
# Total Died
p_cur.execute("""SELECT count(survived) 
              FROM titanic 
              WHERE survived = 'false';""")
p_cur.fetchone()

(545,)

## 2 How many passengers were in each class?

In [7]:
# The following three cells are class queries
p_cur.execute("""SELECT count(pclass)
                   FROM titanic
                  WHERE pclass = 3""")
p_cur.fetchone()

(487,)

In [8]:
p_cur.execute("""SELECT count(pclass)
                   FROM titanic
                  WHERE pclass = 2""")
p_cur.fetchone()

(184,)

In [9]:
p_cur.execute("""SELECT count(pclass)
                   FROM titanic
                  WHERE pclass = 1""")
p_cur.fetchone()

(216,)

## 3 How many passengers survived/died within each class?

In [10]:
# The following three queries are for each class survived
p_cur.execute("""SELECT count(pclass)
                   FROM titanic
                  WHERE pclass = 3
                    AND survived = 'true'""")
p_cur.fetchone()

(119,)

In [11]:
p_cur.execute("""SELECT count(pclass)
                   FROM titanic
                  WHERE pclass = 2
                    AND survived = 'true'""")
p_cur.fetchone()

(87,)

In [12]:
p_cur.execute("""SELECT count(pclass)
                   FROM titanic
                  WHERE pclass = 1
                    AND survived = 'true'""")
p_cur.fetchone()

(136,)

In [13]:
# The following three queries are for the number of each class that died
p_cur.execute("""SELECT count(pclass)
                   FROM titanic
                  WHERE pclass = 3
                    AND survived = 'false'""")
p_cur.fetchone()

(368,)

In [14]:
p_cur.execute("""SELECT count(pclass)
                   FROM titanic
                  WHERE pclass = 2
                    AND survived = 'false'""")
p_cur.fetchone()

(97,)

In [15]:
p_cur.execute("""SELECT count(pclass)
                   FROM titanic
                  WHERE pclass = 1
                    AND survived = 'false'""")
p_cur.fetchone()

(80,)

## 4 What was the average age of survivors vs nonsurvivors?

In [16]:
# The following two queries are for the average age of survivors and non survivors
p_cur.execute("""SELECT AVG(age)
                   FROM titanic
                  WHERE survived = 'true'""")
p_cur.fetchone()

(28.4083918128655,)

In [17]:
p_cur.execute("""SELECT AVG(age)
                   FROM titanic
                  WHERE survived = 'false'""")
p_cur.fetchone()

(30.1385321100917,)

## 5 What was the average age of each passenger class?

In [18]:
# The following three queries are for average age by class
p_cur.execute("""SELECT AVG(age)
                   FROM titanic
                  WHERE pclass = 3""")
p_cur.fetchone()

(25.1887474332649,)

In [19]:
p_cur.execute("""SELECT AVG(age)
                   FROM titanic
                  WHERE pclass = 3""")
p_cur.fetchone()

(25.1887474332649,)

In [20]:
p_cur.execute("""SELECT AVG(age)
                   FROM titanic
                  WHERE pclass = 2""")
p_cur.fetchone()

(29.8686413043478,)

In [21]:
p_cur.execute("""SELECT AVG(age)
                   FROM titanic
                  WHERE pclass = 1""")
p_cur.fetchone()

(38.7889814814815,)

## 6 What was the average fare by passenger class? By survival?

In [22]:
# The following three queries are for average fare by class
p_cur.execute("""SELECT AVG(fare)
                   FROM titanic
                  WHERE pclass = 3""")
p_cur.fetchone()

(13.7077073921971,)

In [23]:
p_cur.execute("""SELECT AVG(fare)
                   FROM titanic
                  WHERE pclass = 2""")
p_cur.fetchone()

(20.6621831521739,)

In [24]:
p_cur.execute("""SELECT AVG(fare)
                   FROM titanic
                  WHERE pclass = 1""")
p_cur.fetchone()

(84.1546874999999,)

In [25]:
# The following two queries are for average fare by those who survived and those who died
p_cur.execute("""SELECT AVG(fare)
                   FROM titanic
                  WHERE survived = 'true'""")
p_cur.fetchone()

(48.3954076023392,)

In [26]:
p_cur.execute("""SELECT AVG(fare)
                   FROM titanic
                  WHERE survived = 'false'""")
p_cur.fetchone()

(22.2085840366972,)

## 7 How many siblings/spouses aboard on average, by passenger class? By survival?

In [27]:
# Avg sib_spouse by class
p_cur.execute("""SELECT AVG(sib_spouse)
                   FROM titanic
                  WHERE pclass = 3""")
p_cur.fetchone()

(Decimal('0.62012320328542094456'),)

In [28]:
p_cur.execute("""SELECT AVG(sib_spouse)
                   FROM titanic
                  WHERE pclass = 2""")
p_cur.fetchone()

(Decimal('0.40217391304347826087'),)

In [29]:
p_cur.execute("""SELECT AVG(sib_spouse)
                   FROM titanic
                  WHERE pclass = 1""")
p_cur.fetchone()

(Decimal('0.41666666666666666667'),)

In [30]:
# Avg sib_spouse by survived/died
p_cur.execute("""SELECT AVG(sib_spouse)
                   FROM titanic
                  WHERE survived = 'true'""")
p_cur.fetchone()

(Decimal('0.47368421052631578947'),)

In [31]:
p_cur.execute("""SELECT AVG(sib_spouse)
                   FROM titanic
                  WHERE survived = 'false'""")
p_cur.fetchone()

(Decimal('0.55779816513761467890'),)

## 8 How many parents/children aboard on average, by passenger class? By survival?

In [32]:
# Avg parent_children by class
p_cur.execute("""SELECT AVG(parent_children)
                   FROM titanic
                  WHERE pclass = 3""")
p_cur.fetchone()

(Decimal('0.39630390143737166324'),)

In [35]:
p_cur.execute("""SELECT AVG(parent_children)
                   FROM titanic
                  WHERE pclass = 2""")
p_cur.fetchone()

(Decimal('0.38043478260869565217'),)

In [36]:
p_cur.execute("""SELECT AVG(parent_children)
                   FROM titanic
                  WHERE pclass = 1""")
p_cur.fetchone()

(Decimal('0.35648148148148148148'),)

In [37]:
# Avg parent_chlidren of survived/died
p_cur.execute("""SELECT AVG(parent_children)
                   FROM titanic
                  WHERE survived = 'true'""")
p_cur.fetchone()

(Decimal('0.46491228070175438596'),)

In [38]:
p_cur.execute("""SELECT AVG(parent_children)
                   FROM titanic
                  WHERE survived = 'false'""")
p_cur.fetchone()

(Decimal('0.33211009174311926606'),)

## 9 Do any passengers have the same name?

In [39]:
p_cur.execute("""SELECT COUNT(DISTINCT name)
                   FROM titanic;""")
p_cur.fetchone()

(887,)